<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- File target: writes logs to a file -->
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception}" />

        <!-- Console target: writes logs to the console -->
        <target name="console" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception}" />
    </targets>

    <rules>
        <!-- Log everything, from Debug and higher, to both file and console -->
        <logger name="*" minlevel="Debug" writeTo="logfile,console" />
    </rules>
</nlog>
